@model List<Teacher>
@{
    ViewData["Title"] = "GetAllTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "_Layout";
}


<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Teachers</h3>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a asp-controller="Teacher" asp-action="AddTeacher" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-center mb-0 datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 58.8px;" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 203.017px; text-align: center;" aria-label="Name: activate to sort column ascending">First and Second Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 203.017px; text-align: center;" aria-label="Name: activate to sort column ascending"> Last Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 53px; text-align: center;" aria-label="Class: activate to sort column ascending">Class</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 92.3px;text-align: center; " s aria-label="Email: activate to sort column ascending">Email</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 139.567px; text-align: center;" aria-label="Mobile Number: activate to sort column ascending">Mobile Number</th>
                                            <th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 84.65px;" aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int rowNumber = 0;
                                        }
                                        @foreach (Teacher Teacher in Model)
                                        {

                                            <tr role="row" class="odd">
                                                <td class="sorting_1">@Teacher.HumanId</td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a asp-controller="Teacher" asp-action="GetTeacherInfo" asp-route-id="@Teacher.HumanId" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src=~/teacherİmage/teacherimage-4.webp alt="Teacher Image"></a>
                                                        <a asp-controller="Teacher" asp-action="GetTeacherInfo" asp-route-id="@Teacher.HumanId">@Teacher.FirstandSecondName</a>
                                                    </h2>
                                                </td>
                                                <td style="text-align: center;">@Teacher.Lastname</td>
                                                <td style="text-align: center;">@Teacher.Classs.ClasssName</td>
                                                <td style="text-align: center;">@Teacher.Email</td>
                                                <td style="text-align: center;">@Teacher.PhoneNumber</td>
                                                <td class="text-right">
                                                    <div class="actions">
                                                        <a asp-controller="Teacher" asp-action="EditTeacher" asp-route-id="@Teacher.HumanId" class="btn btn-sm bg-success-light mr-2">
                                                            <i class="fas fa-pen"></i>
                                                        </a>
                                                        <a asp-controller="Teacher" asp-action="DeleteTeacher" asp-route-id="@Teacher.HumanId" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            rowNumber++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to @rowNumber of @Model.Count entries</div>
                            </div><div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


